#Genera una copia de este archivo ajustar los valores si hace falta, y renombralo como .env
#El .env ya esta agregado al gitignore para que no se suba.

POSTGRES_USER=farmacia_user
POSTGRES_PASSWORD=farmacia_pass
POSTGRES_DB=farmacia_db

SECRET_KEY=cambiar-esta-clave-en-produccion